# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/

# IDE & Editor files
.idea/
*.iml
*.iws
*.ipr
.vscode/*
!.vscode/settings.json

# OS files
Thumbs.db
Desktop.ini
.DS_Store

# Temporary and log files
*.tmp
*.bak

# Local secrets & configs
*slack_config.json
